snippet element "arbitrary element" b
<${1:ELEMENT}>${2:VALUE}</$1>
endsnippet

snippet "closed element" "closed arbitrary element" b
<${1:ELEMENT}/>
endsnippet

snippet div "div element" b
<div>${1:CONTENT}</div>
endsnippet
