snippet template "LaTeX template for document" b
\documentclass[12pt]{article}
\title{${1:Title}}
\author{Chandler Scott}
\date{\today}

\begin{document}

\maketitle
\clearpage
%%%%%%%%%%%%%%%%%%%%%%%%%%
\section{${2:Section Title}}\label{sec:${3:label}}

\end{document}
endsnippet
